body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    color: #2aca6d;
    background: transparent;
    padding: 8px 32px;
    border: 2px solid #2aca6d;
    border-radius: 5px;
    font-size: 16px;
    margin: 0px 10px;
}

button:hover {
    background-color: #2aca6d;
    color: white;
}

#result {
    font-size: 32px;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    padding: 4px 8px;
    width: 100%;
}

#hand {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

img {
    width: 100px;
    height: 100px;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    align-self: stretch;
}